body {
    background-color: whitesmoke;
    margin: 0;
}

#menu {
    border-radius: 5px;
    background-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    flex-wrap:nowrap;
    width: 100%;
}

/*--------- footer --------*/

.licence {
    font-size:smaller;
}


/*------------- formulario ----------*/
form {
    margin-top: 10px;
    padding: 4px;
    color: yellow;
    border-radius: 3px;
    background-color: black;
}

/*-------- Tornillos imagenes --------*/

.tornillos {
    max-width: 50%;
    border: solid black;
    border-radius: 5px;
}

/*--------- columnas --------*/

#column {
    padding: 5px;
    text-align: center;
}

#columnauno {
    display: flex;
}

/*-------- maps ------------*/

#googleMap {
    margin-top: 100px;
    margin-bottom: 150px;
}

/*------------ footer ------------*/
#footer {
    background-color: blue;
    margin-top: 10px;
    float: left;
    bottom: 0;
    width: 100%;
    padding: 2px;
}

/*---------- texto general -----------*/

#text {
    font-family:'Courier New', Courier, monospace ;
    font-weight: bold;
}

/*------------- texto principal --------------*/

.text {
    text-align: justify;
    padding: 10px;
    max-width: 50%;
}

/*------------ imagenes ---------------*/
#image {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#titleimage{
    max-width: 40%;
    margin: 10px;
    border: solid;
    border-radius: 5px;
}

/*-------------- botones --------------*/
.boton {
    background-color: white;
    color: #333;
    padding: 10px;
    border: none;
    text-decoration: none;
    /* aparece el boton como clicable */
    cursor: pointer;

}

.boton:hover {
    background-color: grey;
    transition-duration: 450ms;
}

/*------------ Boton cascada --------------*/
.dropdown {
    position: relative;
    display: inline-block;
    }

.boton-dpdw {
    background-color: white;
    color: #333;
    padding: 10px;
    border: none;
    /* aparece el boton como clicable */
    cursor: pointer;
    }

.boton-dpdw:hover {
    background-color: grey;
    transition-duration: 450ms;
}

.contenido-dpdw {
    /* no muestra el contenido*/
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.contenido-dpdw a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.content:hover {
    background-color: grey;
    transition-duration: 450ms;
}

.dropdown:hover .contenido-dpdw {
    display: block;
    }